.panel a {
  color:#777;
}

.panel-scroll {
    	max-height: 320px;
	overflow: hidden;
	overflow-y: auto;
  }

.panel a:hover {
 text-decoration:none;
 color:#222;
}

.panel .table td {
 border-color: #f3f3f3;
}